/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-logo {
  position: relative !important;
  height: 60px;
  min-width: 100px;
  margin-top: 8px;
  background-image: url(../obcon_wsc.png);
  background-size: 80px;
  background-repeat: no-repeat;
}

.brand-name {
  margin-top: 8px;
  color: #00abab;
}

.obcon-text {
  color: #00abab;
}